{% extends "admin/my_custom_index.html" %}
{% load staticfiles %}

{% block content %}
<div style="padding:2%">
    <form method="get" action=".">
        <table>
            {{ form.q }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Buscar">
                </td>
            </tr>
        </table>

        {% if query %}
            <hr style="border-top:4px solid #eee;">
            <h3>Resultados</h3>

            {% for result in page.object_list %}
                <p>
                    {% if result.model_name == "perfil" %}
                        <a href="{% url 'JayusApp.views.redirectPerfil' %}?idPerfil=result.object.id" target="blank">{{ result.object.nombre }} {{ result.object.apellido }}</a>
                    {% elif result.model_name == "contenido" %}
                        <a href="{% url 'JayusApp.views.contenido' result.object.id%}" target="blank">{{ result.object.titulo }}</a>
                    {% endif %}
                </p>
            {% empty %}
                <p>No hay resultados.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
</div>
{% endblock %}