    <div id="myModal" class="modal fade" tabindex="-1"
      role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="exampleModalLabel">Denunciando el contendio</h4>
          </div>
          <div class="modal-body">
            <label id="successful" style="display:none">Se ha registrado la denuncia.</label>
            <label id="error" style="display:none">Oops, ha ocurrido un error.</label>
            <div id="normal_body" class="container-fluid">
                <div class="row">
                  <input id="denunciar_tipo" style="display:none"></input>
                  <input id="denunciar_idObjeto" style="display:none"></input>
                </div>
                <div class="row">
                  <label><strong>Motivo:</strong></label>
                </div>
                <div class="row">
                  <textarea id="razon_denuncia" class="form-control"
                      rows="4" cols="50"></textarea>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button id="btnSubmit" type="button" class="btn btn-primary"
                onclick="event_denuncia_click()">
                Denunciar
            </button>
            <button id="btnCancel" type="button" class="btn btn-default"
                data-dismiss="modal" onclick="event_restablecer_modal()">
                Cerrar
                </button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script>
      function event_restablecer_modal() {
            $('#error').css('display','none')
            $('#successful').css('display','none')
            $('#normal_body').css('display','')
            $('#razon_denuncia').val('')
            $('#btnSubmit').css('display','');
          }

      function event_denuncia_click() {
          $.ajax({
              url: {% url 'JayusApp.views.denunciar' %},
              type: 'POST',
              data: {
                  "tipo": $('#denunciar_tipo').val(),
                  "idObjeto": $('#denunciar_idObjeto').val(),
                  "razon": $('#razon_denuncia').val()
              },
          }).success(function (result) {
            $('#error').css('display','none')
            $('#successful').css('display','')
            $('#normal_body').css('display','none')
            $('#btnSubmit').css('display','none');
          }).error(function(result){
            $('#error').css('display','')
            $('#successful').css('display','none')
            $('#normal_body').css('display','none')
            $('#btnSubmit').css('display','none');
          });
      }
    </script>