{% load staticfiles %}
<div class="main-header">
{% block content_title %}
    <div class="col-md-2">
      <h5>
        <center>
            <a href="{% url 'JayusApp.views.home' %}" title="Home">
                <img src="/static/img/logo.gif" class="foto-logo">
            </a>
        </center>
      </h5>
    </div>
    <div class="col-md-3">
        {% if user.is_authenticated  %}
            <div class="input-group">
              <input id="txt_buscar" type="text" class="form-control"
                  placeholder="Buscar ...">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button"
                        onclick="event_buscar_click()" >Buscar</button>
              </span>
            </div><!-- /input-group -->
        {% endif %}
    </div>
{% endblock %}
<div class="col-md-7">
    <div id="user-tools" class="btn-group">
        <div class="btn-group">
            {% if user.is_authenticated  %}
                 <a href="{% url 'JayusApp.views.contenido_sin_params' %}"
                     title="Nuevo contenido" class="btn btn-default">
                  Nuevo!
                 </a>
                 <span class="replace">
                 </span>
                 <a href="{% url 'JayusApp.views.perfilView' %}" title="Mi perfil" class="btn btn-default">
                   Mi perfil
                 </a>
                 <a href="{% url 'JayusApp.views.mis_comunidades' %}" title="Mis comunidades" class="btn btn-default">
                   Mis comunidades
                 </a>
                {% if user.is_admin %}
                     <div class="btn-group" role="group">
                         <button id="dLabel" type="button"
                         class="btn btn-default dropdown-toggle"
                         data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">
                            Administración <span class="caret"></span>
                         </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                  <a href="{% url 'admin:JayusApp_comunidad_changelist' %}">
                                      Comunidades</a>
                                </li>
                                <li>
                                  <a href="{% url 'admin:JayusApp_denuncia_changelist' %}">
                                      Denuncias</a>
                                </li>
                                <li>
                                  <a href="{% url 'admin:JayusApp_perfil_changelist' %}">
                                      Perfiles</a>
                                </li>
                            </ul>
                     </div>
                {% endif %}
                 <a href="{% url 'JayusApp.views.aboutUs' %}" title="Nosotros" class="btn btn-default">
                    Nosotros
                 </a>
                 <div class="btn-group" role="group">
                      <button id="duser" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {% if user.is_active and user.is_staff %}
                          {% block welcome_msg %}
                            {% firstof user.get_short_name user.get_username %}
                          {% endblock %}
                        {% endif %}
                        <span class="caret"></span>
                      </button>
                      {% url 'django-admindocs-docroot' as docsroot %}
                      <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="duser">
                        {% if docsroot %}
                          <li class="hidden-sm">
                            <a href="{{ docsroot }}">Documentación</a>
                          </li>
                        {% endif %}
                        {% if user.has_usable_password %}
                          <li>
                            <a href="{% url 'admin:password_change' %}">Cambiar contraseña</a>
                          </li>
                        {% endif %}
                        <li>
                          <a href="{% url 'admin:logout' %}?next=home"">Desloguearse</a>
                        </li>
                      </ul>
                 </div>
            {% else %}
                 <a href="{% url 'JayusApp.views.aboutUs' %}" title="Nosotros" class="btn btn-default">
                    Nosotros
                 </a>
                 <a href="{% url 'JayusApp.views.perfilView' %}" title="Ingresar" class="btn btn-default">
                    Ingresar
                 </a>
                 <a href="{% url 'JayusApp.views.registrar' %}" title="Registrarse" class="btn btn-default">
                   Registrarse
                 </a>
            {% endif %}
        </div>
        <!--        No importa si está o no loggeado        -->
        {% if docsroot %}
          <a href="{{ docsroot }}" title="Documentación" class="btn btn-default hidden-sm"><span class="glyphicon glyphicon-book"></span></a>
        {% endif %}
        <a href="{% url 'admin:logout' %}?next=home" title="{% if user.is_authenticated %} Desloguearse {% else %} Ingresar {% endif %}" class="btn btn-default hidden-xs">
          <span class="glyphicon glyphicon-off"></span>
        </a>
    </div>
</div>
&nbsp

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script>
  function event_buscar_click() {
      window.location.href = "/search/?q="+$('#txt_buscar').val()
  }
</script>