<div class="panel panel-default">
      <div class="panel-heading" style="background-color:#FFFFFF;">
          <div class="row">
              <div class="col-md-8">
                  <a href="{% url 'JayusApp.views.contenido' contenido.id%}">
                    <h3 class="panel-title">{{ contenido.titulo|safe }}</h3>
                  </a>
              </div>
              <div class="col-md-4" style="text-align:right">
                    {{contenido.puntuacion}} punto{{contenido.puntuacion|pluralize}}
              </div>
          </div>
      </div>
      <div class="panel-body">
          <a href="{% url 'JayusApp.views.contenido' contenido.id%}">
            {{contenido.contenido|safe|truncatewords_html:15}}
          </a>
      </div>
  <div class="panel-footer" style="background-color:#FFFFFF;">
      <div class="row">
          <div class="col-md-4">
            {% if contenido.comunidad.id > 0 %}
                  Comunidad: {{contenido.comunidad}}
            {% endif %}
          </div>
          <div class="col-md-8" style="text-align:right">
             {% if contenido.usuario_modificacion  %}
                <strong>
                  <a href="{% url 'JayusApp.views.redirectPerfil' %}?username={{ contenido.usuario_modificacion }}">
                      {{ contenido.usuario_modificacion }}
                  </a>
                </strong>
                ||
             {% endif %}
              {{contenido.fecha_modificacion|date:"d/m/Y H:i"}}
          </div>
      </div>
  </div>
</div>