{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/jayusStyle.css" %}" />

<div class="autor">
    <div>Publicado el {{contenido.fecha_modificacion}}</div>
    <a href="{% url 'JayusApp.views.redirectPerfil' %}?idPerfil={{perfil_autor.id}}">
        <table>
            <tr>
                <td style="vertical-align: middle;">
                    <img src="/uploads/{{ perfil_autor.imagen }}" height="35" width="35">
                </td>
                <td style="vertical-align: middle; padding-left: 10px;">
                    <div><strong>{{contenido.usuario_modificacion}}</strong></div>
                    <div>{{perfil_autor.puntuacion}} puntos</div>
                </td>
            </tr>
        </table>
    </a>
</div>
