
{% extends "base_sitio.html" %}
{% load admin_urls %}

{% block title %}Jayus | Comunidad {{comunidad.nombre}}{% endblock %}

{% block contenido %}
    <div class="row" style="text-align:center">
        <div class="col-md-5 col-md-offset-1">
            <h2>{{ comunidad.nombre }}</h2>
            <p>{{ comunidad.descripcion }}</p>
        </div>
        <div class="col-md-2 col-md-offset-4">
            {% if puede_comentar %}
                <div class="row" style="padding: 2%">
                    <a href="{% url 'JayusApp.views.contenido_add' 'comunidad' comunidad.id %}">
                        Crear contenido
                    </a>
                </div>
            {% endif %}
            {% if puede_adm %}
                <div class="row" style="padding: 2%">
                    <a href="{% url 'JayusApp.views.comunidad_edit' comunidad.id %}">
                        Editar comunidad
                    </a>
                </div>
                <div class="row" style="padding: 2%">
                    <a href="{% url 'JayusApp.views.comunidad_delete' comunidad.id %}">
                        Eliminar comunidad
                    </a>
                </div>
            {% endif %}
            <div class="row" style="padding: 2%">
                <a href="{% url 'JayusApp.views.comunidad_miembros' comunidad.id %}">
                    Miembros
                </a>
            </div>
        </div>
    </div>
    <hr>

    {% for contenido in content_list %}
        {% include "_pre-contenido.html" %}
    {% endfor %}
{% endblock %}
