{% extends "base_sitio.html" %}
{% load staticfiles %}

{% block title %} Jayus | {{titulo}} {% endblock %}


{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/jayusStyle.css" %}" />
{% endblock %}

{% block contenido %}
    <div class="fluid-container" style="margin-left:auto; margin-right:auto; width:60%">
        <form id="comunidadForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                <center>
                    <h4>
                        {{titulo}}
                        {% if comunidadId %}
                            {{ comunidad.nombre.value }}
                        {% endif %}
                    </h4>
                </center>
            </div>

            <input id="id_comunidad" type="text" value='{{comunidadId}}' style="opacity: 0"/>

            <div class="form-group">
                <label for="id_nombre">Nombre</label>
                {{ comunidad.nombre }}
            </div>
            <div class="row validacion" id="errorNombre" style="padding-left: 3%; padding-bottom: 2%; color: red;"></div>

            <div class="form-group">
                <label for="id_descripcion">Descripción</label>
                {{ comunidad.descripcion }}
            </div>
            <div class="row validacion" id="errorDescripcion" style="padding-left: 3%; padding-bottom: 2%; color: red;"></div>

            <table id="tabla_miembros" class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Usuario</th>
                  <th>Rol</th>
                  <th>
                      <button id="btnAddRow" class="btn btn-default"
                          title="Agregar" type="button"
                          data-toggle="modal" data-target="#myModal"
                          onclick="inicializar_cmb()">
                          +
                      </button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td id="id_user_1" name="user_1">{{request.user.username}}</td>
                  <td id="id_rol_1" name="rol_1">Lider</td>
                  <td></td>
                </tr>
                  {% if miembros %}
                      {% for m in miembros %}
                          {% if m.0 != request.user.username %}
                            <tr>
                                  <th>{{ iterator.next|add:"2" }}</th>
                                  <td>{{ m.0 }}</td>
                                  <td>{{ m.1 }}</td>
                                  <td>
                                      <button class='btn btn-default' title='Eliminar' onclick='this.parentNode.parentNode.remove();'> X </button>
                                  </td>
                            </tr>
                          {% endif %}
                      {% endfor %}
                  {% endif %}
              </tbody>
            </table>

            <div class="row validacion" id="errorGeneral" style="padding-left: 3%; padding-bottom: 2%; color: red;"></div>

            <center class="row" style="padding:2%">
                {% if comunidadId %}
                    <button class="btn btn-primary" type="button" onclick="editar_click()">Guardar</button>
                {% else %}
                    <button class="btn btn-primary" type="button" onclick="guardar_click()">Guardar</button>
                {% endif %}
                <a class="btn btn-default" href="{% url 'JayusApp.views.home' %}"">Cancelar </a>
            </center>
        </form>
    </div>
    {% include "comunidad_abm_miembros.html" %}
{% endblock %}