    <div id="myModal" class="modal fade" tabindex="-1"
      role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="exampleModalLabel">Agregar miembros</h4>
          </div>
          <div class="modal-body">

            <div class="form-group">
                <label for="id_usuario">usuario</label>
                {{ miembro.usuario }}
            </div>
            <div class="form-group">
                <label for="id_rol">rol</label>
                {{ miembro.rol }}
            </div>

          </div>
          <div class="modal-footer">
            <button id="btnSubmit" type="button" class="btn btn-primary"
                data-dismiss="modal" onclick="addRow('tabla_miembros')">
                Agregar
            </button>
            <button id="btnCancel" type="button" class="btn btn-default"
                data-dismiss="modal">
                Cerrar
                </button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script>
        function addRow(tableID)
        {
            var table=document.getElementById(tableID);
            var rowCount=table.rows.length;
            var row=table.insertRow(rowCount);
            var newcell=row.insertCell(0);
            newcell.innerHTML= rowCount;
            var newcell=row.insertCell(1);
            newcell.innerHTML=$("#id_usuario option:selected").text();
            var newcell=row.insertCell(2);
            newcell.innerHTML=$("#id_rol option:selected").text();
            var newcell=row.insertCell(3);
            newcell.innerHTML="<button class='btn btn-default' title='Eliminar' onclick='this.parentNode.parentNode.remove();'> X </button>";
        }

        function inicializar_cmb() {
            table = document.getElementById('tabla_miembros');
            $.each(table.rows, function( index, value ) {
                if (index != 0) {
                  console.log(value.cells[1].innerHTML);
                  $("#id_usuario option").each(function()
                  {
                      //console.log($(this).val());
                      //console.log($(this).text());
                      //console.log(value);
                      //console.log($(this).text() == value.cells[1].innerHTML);
                      //console.log($(this).text() === value.cells[1].innerHTML);
                      if ($(this).text() === value.cells[1].innerHTML) {
                        $(this).remove();
                      }
                  });
                }
            });
            // Falta que arranque de nuevo
            // Si no hay opciones no se puede agregar
            if ($("#id_usuario option").length == 1) {
                $("#btnSubmit").attr("disabled", "disabled")
            }
        }

        function guardar_click(){
              miembros = [];
             table = document.getElementById('tabla_miembros');
              $.each(table.rows, function( index, value ) {
                  if (index != 0) {
                      m = {
                          'usuario': value.cells[1].innerHTML,
                          'rol': value.cells[2].innerHTML
                          }
                      miembros.push(value.cells[1].innerHTML+":"+value.cells[2].innerHTML);
                  }
              });

              function getCookie(name) {
                  var cookieValue = null;
                  if (document.cookie && document.cookie != '') {
                      var cookies = document.cookie.split(';');
                      for (var i = 0; i < cookies.length; i++) {
                          var cookie = jQuery.trim(cookies[i]);
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) == (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                          }
                      }
                  }
                  return cookieValue;
              }
              var csrftoken = getCookie('csrftoken');

              function csrfSafeMethod(method) {
                  // these HTTP methods do not require CSRF protection
                  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
              }
              $.ajaxSetup({
                  beforeSend: function(xhr, settings) {
                      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                          xhr.setRequestHeader("X-CSRFToken", csrftoken);
                      }
                  }
              });

              console.log($("#id_nombre").val())
              console.log($("#id_descripcion").val())
              console.log(miembros)

              var post = $.ajax({
                type: "POST",
                url: '{% url 'JayusApp.views.comunidad_add' %}',
                data: {
                        'titulo': $("#id_nombre").val(),
                        'descripcion': $("#id_descripcion").val(),
                        'miembros': JSON.stringify(miembros)
                    }
              })

              $("#errorNombre").text("");
              $("#errorDescripcion").text("");
              $("#errorGeneral").text("");

              post.done(function(data) {
                  console.log(data);
                  if (data.errorNombre != ''){
                    $("#errorNombre").text(data.errorNombre)
                  }
                  else if (data.errorDescripcion != ''){
                    $("#errorDescripcion").text(data.errorDescripcion)
                  }
                  else if (data.errorNombreRepetido != ''){
                    $("#errorNombre").text(data.errorNombreRepetido)
                  }
                  else if (data.comunidadGuardada != ''){
                    $("#errorGeneral").text(data.comunidadGuardada)
                  }
                  else if (data.todoGuardado != ''){
                      window.location.href = "/mis_comunidades/";
                  }
              }).fail(function(data) {
                  console.log(data);
                alert( "Oops... Ha ocurrido un error!" );
              })
        }

        function editar_click() {
             miembros = [];
             table = document.getElementById('tabla_miembros');
              $.each(table.rows, function( index, value ) {
                  if (index != 0) {
                      m = {
                          'usuario': value.cells[1].innerHTML,
                          'rol': value.cells[2].innerHTML
                          }
                      miembros.push(value.cells[1].innerHTML+":"+value.cells[2].innerHTML);
                  }
              });

              function getCookie(name) {
                  var cookieValue = null;
                  if (document.cookie && document.cookie != '') {
                      var cookies = document.cookie.split(';');
                      for (var i = 0; i < cookies.length; i++) {
                          var cookie = jQuery.trim(cookies[i]);
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) == (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                          }
                      }
                  }
                  return cookieValue;
              }
              var csrftoken = getCookie('csrftoken');

              function csrfSafeMethod(method) {
                  // these HTTP methods do not require CSRF protection
                  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
              }
              $.ajaxSetup({
                  beforeSend: function(xhr, settings) {
                      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                          xhr.setRequestHeader("X-CSRFToken", csrftoken);
                      }
                  }
              });

              // console.log($("#id_nombre").val())
              // console.log($("#id_descripcion").val())
              // console.log(miembros)
              {% if comunidadId %}
                  var url_edit = '{% url 'JayusApp.views.comunidad_edit' comunidadId %}'
              {% else %}
                  var url_edit = ''
              {% endif %}
              var post = $.ajax({
                type: "POST",
                url: url_edit,
                data: {
                        'titulo': $("#id_nombre").val(),
                        'descripcion': $("#id_descripcion").val(),
                        'miembros': JSON.stringify(miembros)
                    }
              })
              $("#errorNombre").text("");
              $("#errorDescripcion").text("");
              $("#errorGeneral").text("");

              post.done(function(data) {
                  console.log(data);
                  if (data.errorNombre != ''){
                    $("#errorNombre").text(data.errorNombre)
                  }
                  else if (data.errorDescripcion != ''){
                    $("#errorDescripcion").text(data.errorDescripcion)
                  }
                  else if (data.errorNombreRepetido != ''){
                    $("#errorNombre").text(data.errorNombreRepetido)
                  }
                  else if (data.comunidadGuardada != ''){
                    $("#errorGeneral").text(data.comunidadGuardada)
                  }
                  else if (data.todoGuardado != ''){
                      window.location.href = "/mis_comunidades/";
                  }
              })
              .fail(function(data) {
                alert( "Oops... Ha ocurrido un error!" );
              })
        }
    </script>

