{% extends "base_sitio.html" %}
{% load staticfiles %}<html>

{% block title %} Miembros de {{nombreComunidad}} {% endblock %}

{% block contenido %}
    <h1> Miembros de: {{nombreComunidad}} </h1>
    <hr/>
    <div class="fluid-container">
        {% for perfil in perfil_list %}
            <div class="panel panel-default" style="padding-top:2%">
              <div class="panel-body">
                  <a href="{% url 'JayusApp.views.perfilView' perfil.id %}">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{perfil.imagen }}" alt="Imagen no disponible"/>
                        </div>
                        <div class="col-md-6">
                            <h2>{{ perfil.usuario.username}}</h2>
                            <p>{{ perfil.usuario.email }}</p>
                        </div>
                    </div>
                  </a>
               </div>
               <div class="panel-footer" style="text-align:right">
                    {% if esLider %}
                        <a href="{% url 'JayusApp.views.eliminar_miembro' perfil.id idComunidad %}">
                            Eliminar
                        </a>
                    {% endif %}
               </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}