{% extends "base_sitio.html" %}
{% load staticfiles %}
e
{% block contenido %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

    <form action="{% url 'JayusApp.views.modificar_contenido' idContenido %}" method="POST"  style="padding:2%;">
        {% csrf_token %}

        <div class="alert alert-info" role="alert">
          <div class="alert-link">
                Edición de contenido
          </div>
        </div>
        <br>
        <div class="form-inline row">
            <div class="form-group col-md-6">
                <label for="id_titulo">Título: </label>
                {{ form.titulo }}
                {{ form.titulo.errors }}
            </div>
            <div class="form-group  col-md-6">
                <label for="id_visibilidad">Visibilidad: </label>
                {{ form.visibilidad }}
            </div>
        </div>
        <div class="form-group row" style="padding:2%;">
                <label for="id_contenido">Contenido</label>
                <textarea class="ckeditor" id="cke_contenido" name="contenido"></textarea>
        </div>
        <div class="row">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        </div>

        <center class="row" style="padding:2%">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <a class="btn btn-default" href="{% url 'JayusApp.views.contenido' idContenido%}">Cancelar </a>
        </center>
    </form>

    <script>
        console.log(CKEDITOR.instances);
        CKEDITOR.replace('cke_contenido');
        CKEDITOR.instances.cke_contenido.setData("{{form.contenido.value|escapejs}}");
    </script>
{% endblock %}