{% extends "base_sitio.html" %}
{% load admin_urls %}
{% load staticfiles %}

{% block title %} Jayus | {{contenido.titulo}}{% endblock %}

<script type="text/javascript" src="{% static "admin/js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>

{% block contenido %}
    <div class="row">
        <div class="col-md-2">
            {% if contenido.usuario != None %}
                <a href="{% url 'JayusApp.views.perfilView' contenido.usuario.id %}">Ir al perfil</a>
            {% else %}
                {% if contenido.comunidad != None %}
                    <a href="{% url 'JayusApp.views.comunidad' contenido.comunidad.id %}">Ir a la comunidad</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-8">
            <h2 class="titulo">{{contenido.titulo}}</h2>
        </div>
        <div class="col-md-2">
            {% if contenido.usuario_modificacion == request.user.username %}
                <div class="row" style="padding: 2%">
                    <a href="{% url 'JayusApp.views.modificar_contenido' idContenido=contenido.id %}">Modificar </a>
                </div>
            {% endif %}
            {% if contenido.usuario_modificacion == request.user.username or puede_eliminar %}
                <div class="row" style="padding: 2%">
                    <a href="{% url 'JayusApp.views.eliminar_contenido' idContenido=contenido.id %}">Eliminar </a>
                </div>
            {% endif %}
            {% if contenido.usuario_modificacion != request.user.username %}
                <div class="row" style="padding: 2%">
                    <button id="btnDenuncia" type="button" class="btn btn-warning"
                        data-toggle="modal" data-target="#myModal"
                        onclick="$('#denunciar_tipo').val('contenido');$('#denunciar_idObjeto').val('{{contenido.id}}');">
                        Denunciar
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="separador1"></div>

    <div class="row">
        <div class="col-md-1">{% include "puntos_contenido.html" with idContenido=contenido.id %}</div>
        <div class="col-md-11"><div class="cuerpo-contenido">{{contenido.contenido|safe}}</div></div>
    </div>

    <div class"row">
        <div class="col-md-9">
            {% if comentarios %}
                <div>
                    <h3>
                        Hay {{cant_comentarios}} comentario{{ cant_comentarios|pluralize }}
                    </h3>
                </div>
            {% else %}
                <div> <h3>No hay comentarios ¡Se el primero en comentar!</h3></div>
            {% endif %}
        </div>
        <div class="col-md-3">{% include "autor.html" with idContenido=contenido.id %}</div>
    </div>
    {% if comentarios %}
        <div class="row">
            <div class="col-md-12" style="padding:2%">
                {% for comentario in comentarios %}
                    <div class="panel panel-default">
                      <div class="panel-heading" style="background-color:#FFFFFF;">
                          Creado por:
                          <a href="{% url 'JayusApp.views.redirectPerfil' %}?username={{comentario.usuario_modificacion}}">
                              <strong>{{comentario.usuario_modificacion}}</strong>
                              <strong>{{comentario.usuario_modificacion.id}}</strong>
                           </a>
                          el {{comentario.fecha_modificacion}}
                      </div>
                      <div class="panel-body">
                        {{comentario.descripcion}}
                      </div>
                       <div class="panel-footer" style="background-color:#FFFFFF; text-align:right">
                            {% if comentario.usuario == request.user or puede_eliminar %}
                                 <a href="{% url 'JayusApp.views.eliminar_comentario' idDetalleContenido=comentario.id idContenido=contenido.id %}">
                                     Eliminar </a>
                            {% else %}
                                <button id="btnDenunciaComentario_{{comentario.id}}" type="button"
                                    class="btn btn-warning"
                                    data-toggle="modal" data-target="#myModal"
                                    onclick="$('#denunciar_tipo').val('detalleContenido');$('#denunciar_idObjeto').val('{{comentario.id}}');">
                                    Denunciar
                                </button>
                            {% endif %}
                       </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% include "alta_comentario.html" with idContenido=contenido.id formComentario=formContenido %}

    {% include "_denunciar.html" %}
{% endblock %}

