{% extends "base_sitio.html" %}
{% load admin_urls %}
{% load staticfiles %}

{% block title %} Jayus | Editar Perfil {% endblock %}


{% block contenido %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function() {
            $( ".datepicker" ).datepicker(
                { dateFormat: 'dd/mm/yy' }
            );
          });
    </script>


    <div class="fluid-container" style="margin-left:auto; margin-right:auto; width:60%">
        <form action="{% url 'JayusApp.views.editPerfil' %}" method="post"
            enctype="multipart/form-data">
            {% csrf_token %}

            {{perfil.puntuacion.as_hidden }}
            {{perfil.usuario.as_hidden }}

            <div class="row">
                <center><h4>Perfil del usuario:
                    <strong>{{request.user.username}}</strong>
                </h4></center>
            </div>
            <div class="row">
                <center>
                    Puntuación: {{perfil.puntuacion.value}}
                </center>
            </div>
            <div class="row">
                    <span class="glyphicon glyphicon-sign" aria-hidden="true">
                    </span>
                <center>
                    "La puntuación refleja el karma del usuario
                    y se ve afectado por su participación en la comunidad"
                </center>
            </div>
            <hr>
            <div class="form-group">
                    <label for="id_imagen">Imagen de perfil</label>
                    {{ perfil.imagen }}
            </div>
            <div class="row">
                {{ perfil.imagen.errors }}
            </div>

            <div class="form-group">
                    <label for="id_nombre">Nombre</label>
                    {{ perfil.nombre }}
            </div>
            <div class="row">
                {{ perfil.nombre.errors }}
            </div>

            <div class="form-group">
                    <label for="id_apellido">Apellido</label>
                    {{ perfil.apellido }}
            </div>
            <div class="row"">
                {{ perfil.apellido.errors }}
            </div>

            <div class="form-group">
                    <label for="id_fechaNacimiento">Fecha de Nacimiento</label>
                    {{ perfil.fechaNacimiento }}
            </div>
            <div class="row">
                {{ perfil.fechaNacimiento.errors }}
            </div>

            <div class="form-group">
                    <label for="id_sexo">Sexo</label>
                    {{ perfil.sexo }}
            </div>
            <div class="row">
                {{ perfil.sexo.errors }}
            </div>

            <div class="form-group">
                    <label for="id_localidad">Localidad</label>
                    {{ perfil.localidad }}
            </div>
            <div class="row">
                {{ perfil.localidad.errors }}
            </div>

            <div class="form-group">
                    <label for="id_provincia">Provincia</label>
                    {{ perfil.provincia }}
            </div>
            <div class="row">
                {{ perfil.provincia.errors }}
            </div>

            <div class="form-group">
                    <label for="id_pais">País</label>
                    {{ perfil.pais }}
            </div>
            <div class="row">
                {{ perfil.pais.errors }}
            </div>

            <div class="form-group">
                    <label for="id_telefono">Teléfono</label>
                    {{ perfil.telefono }}
            </div>
            <div class="row">
                {{ perfil.telefono.errors }}
            </div>

            <div class="row">
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            </div>

            <center class="row" style="padding:2%">
                <button class="btn btn-primary" type="submit">Guardar</button>
                <a class="btn btn-default" href="{% url 'JayusApp.views.home' %}"">Cancelar </a>
            </center>
        </form>
    </div>
{% endblock %}