{% extends "base_sitio.html" %}
{% block contenido %}
    <center>
        <h1 style="padding:2%">Gracias por registrarse!</h1>

        <p>En el caso de no haber recibido el
        mail con la confirmación de su registro, revise
        su carpeta de correos no deseados.</p>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-4"><a href="http://www.yahoo.com" target="_blank"><img src="../static/img/yahoo.png" class="foto-link" width="128" height="auto"></a></div>
            <div class="col-sm-4"><a href="http://www.hotmail.com" target="_blank"><img src="../static/img/outlook.jpg" class="foto-link" width="128" height="auto"></a></div>
            <div class="col-sm-4"><a href="http://www.gmail.com" target="_blank"><img src="../static/img/gmail.jpg" class="foto-link" width="128" height="128"></a></div>
        </div>
    </center>

{% endblock %}
</html>