{% load staticfiles %}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Ingresar en Jayus</title>
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <link rel="stylesheet" href="{% static "css/login.css" %}">
  </head>

  <body>
    <div class="login-card">

        <center>
            <img src="/static/img/jayus-login.gif" style="width: 100%;">
        </center><br>
        <div id="login">
        <form class="form-horizontal" name="LoginForm" action="/accounts/login/" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}

            <input type="text" id="username" name="username" placeholder="Usuario">
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <input type="submit" name="login" class="login login-submit" value="Ingresar">
        </form>

      <div class="login-help">
        <a href="{% url 'JayusApp.views.home' %}">Jayus</a> • <a href="{% url 'JayusApp.views.registrar' %}">Registrarse</a>
      </div>
    </div>

    <!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
  </body>
</html>
