{% extends "base_sitio.html" %}

{% block title %}Jayus | Mis comunidades {% endblock %}

{% block contenido %}
    <h1> Mis comunidades </h1>
    <a href="{% url 'JayusApp.views.comunidad_add' %}">Crear Comunidad</a>

    <hr/>
    {% if mis_comunidades %}
        {% for comunidad in mis_comunidades %}
            <div class="list-group">
              <a href="{% url 'JayusApp.views.comunidad' comunidad.id %}" class="list-group-item deactive">
                <h4 class="list-group-item-heading"> {{comunidad.nombre}}</h4>
                <p class="list-group-item-text">{{ comunidad.descripcion }}</p>
              </a>
            </div>
        {% endfor %}
    {% else %}
        <center>
            <h4>
                Todavía no tienes comunidades. Haz click en el
                    <a href="{% url 'JayusApp.views.comunidad_add' %}">
                        link
                    </a>
                para crear una.
            </h4>
        </center>
    {% endif %}
{% endblock %}