{% extends "base_sitio.html" %}

{% block title %}Jayus | Perfil {{usuario.username}}{% endblock %}

{% block contenido %}
    <div class="row" style="text-align:center">
        <div class="col-md-4">
            <img src="/uploads/{{ perfil.imagen }}" alt="Imagen no disponible"
            style="width:128px; heigth:128px;"/>
        </div>
        <div class="col-md-4">
            <h2>{{ usuario.username}}</h2>
            <p>{{ usuario.email }}</p>
        </div>
        <div class="col-md-4">
            {% if perfil.usuario.id == request.user.id %}
                <div class="row" style="padding: 2%">
                    <a href="{% url 'JayusApp.views.contenido_add' 'perfil' idPerfil %}">Crear contenido </a>
                </div>
                <div class="row" style="padding: 2%">
                    <a href="{% url 'JayusApp.views.editPerfil' %}">Editar perfil </a>
                </div>
            {% else %}
                <div class="row" style="padding: 2%">
                    <button id="btnDenuncia" type="button" class="btn btn-warning"
                        data-toggle="modal" data-target=".bs-example-modal-sm"
                        data-tipo="\'usuario'"
                        data-id="{{usuario.id}}">
                        Denunciar
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <hr>

    {% for contenido in content_list %}
        {% include "_pre-contenido.html" %}
    {% endfor %}

    {% include "_denunciar.html" with tipo='\'usuario\'' idObjeto=perfil.usuario.id %}
{% endblock %}
