{% load staticfiles %}

<div class="puntos">
    {% if contenido.usuario_modificacion != request.user.username %}
        <div class="puntos2">
            <a href="{% url 'JayusApp.views.valorar_contenido' idContenido 2 %}">
                <img src="{% static "img/ArrowUp.png" %}" alt="Me sirve"</img>
            </a>
        </div>
    {% endif %}

    <div class="puntos3">{{contenido.puntuacion}}</div>


    {% if contenido.usuario_modificacion != request.user.username %}
        <div class="puntos2">
            <a href="{% url 'JayusApp.views.valorar_contenido' idContenido 3 %}">
                <img src="{% static "img/ArrowDown.png" %}" alt="No me sirve"</img>
            </a>
        </div>
    {% endif %}
</div>