{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrap_admin_template_tags %}
{% load staticfiles %}

{% block extrastyle %}

{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />{% endblock %}
    {% block bodyclass %}
        {{ block.super }} login
    {% endblock %}
{% block nav-global %}

{% endblock %}

{% block branding %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block sidebar_menu %}{% endblock %}

{% block content_container %}

<center style="width:30%; margin: 0 auto !important;">
    <div class="panel panel-primary" style="padding:2%">
      <center>
            <img src="/static/img/jayus-registro.gif" style="width: 100%;">
        </center><br>
      <div class="panel-body">
        <form action="{% url 'JayusApp.views.registrar' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="id_username">Usuario</label>
                </div>
                <div class="col-md-6">
                    {{ form.username }}
                </div>
            </div>
            <div class="row">
                {{ form.username.errors }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="id_email">Email</label>
                </div>
                <div class="col-md-6">
                    {{ form.email }}
                </div>
            </div>
            <div class="row">
                {{ form.email.errors }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="id_password1">Contraseña</label>
                </div>
                <div class="col-md-6">
                    {{ form.password1 }}
                </div>
            </div>
            <div class="row">
                {{ form.password1.errors }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="id_password2">Repetir contraseña</label>
                </div>
                <div class="col-md-6">
                    {{ form.password2}}
                </div>
            </div>
            <div class="row">
                {{ form.password2.errors }}
            </div>

            <div class="row">
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            </div>

            <div class="row" style="padding:2%">
                <button class="btn btn-primary" type="submit">Registrar</button>
                <a class="btn btn-default" href="{% url 'JayusApp.views.home' %}"">Cancelar </a>
            </div>
        </form>
      </div>
    </div>
</center>
{% endblock %}