{% load staticfiles %}

<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
<link rel="stylesheet" type="text/css" href="{% static "slider_home/engine1/style.css" %}" />

<script type="text/javascript" src="{% static "slider_home/engine1/jquery.js" %}"></script>

<!-- End WOWSlider.com HEAD section -->


<div style="background-color:#d7d7d7;margin:auto">

<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
	<li><img src="{% static "slider_home/data1/images/slider_1a.png" %}" alt="slider_1a" title="slider_1a" id="wows1_0"/></li>
	<li><img src="{% static "slider_home/data1/images/slider_2a.png" %}" alt="slider_2a" title="slider_2a" id="wows1_1"/></li>
	<li><img src="{% static "slider_home/data1/images/slider_3a.png" %}" alt="slider_3a" title="slider_3a" id="wows1_2"/></li>
	<li><img src="{% static "slider_home/data1/images/slider_4a.png" %}" alt="slider_4a" title="slider_4a" id="wows1_3"/></li>
	</ul>
</div>

<div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">joomla slider</a> by WOWSlider.com v8.2</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="{% static "slider_home/engine1/wowslider.js" %}"></script>
	<script type="text/javascript" src="{% static "slider_home/engine1/script.js" %}"></script>
	<!-- End WOWSlider.com BODY section -->
</div>