{% extends "base_sitio.html" %}

{% block contenido %}
    <div class="container">
        <form action="{% url 'JayusApp.views.validar' id=id %}" method="post">
            {% csrf_token %}
            <div style="display:none">
                {{id}}
            </div>

            <div class="row">
                Ya casi eres un usuario. Por favor haz click en el siguiente botón
            </div>

            <div class="row" style="padding:2%">
                <button class="btn btn-primary" type="submit">Validar</button>
            </div>
        </form>
    </div>
{% endblock %}