{% extends "admin/change_form.html" %}
{% load staticfiles %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/jayusStyle.css" %}" />
{% endblock %}


<html>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

    {% block main_header %}
        {% include "_menu.html" %}
    {% endblock %}
    {% block breadcrumbs %}
    {% endblock %}
</html>
