#content {
    padding-bottom: 2%
}

#content-main {
    padding: 2%
}

.foto-perfil {
  width: 95%
}

.foto-logo {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-20%);
}

.foto-login {
  width: 50%;
  //position: relative;
  //top: 50%;
  //transform: translateY(-20%);
}

.validacion {
    padding-left: 3%;
    padding-bottom: 2%;
    color: red;
}

div.separador1 {
    border-top: groove;
    border-top-color: #E6E6E6;
    border-top-width: 2px;
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.titulo {
    margin-left: 15px;
    text-align: center;
}

div.cuerpo-contenido{
    margin-right: 20px;
    margin-left: 15px;
}

div.puntos {
    padding-left: 15px-,
}

div.puntos2 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

div.puntos3 {
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size:large;
    color: #0B0B61;
}

div.comentario {
    border-top: groove;
    border-top-color: #E6E6E6;
    border-top-width: 1px;

    border-left: groove;
    border-left-color: #E6E6E6;
    border-left-width: 1px;

    border-bottom: groove;
    border-bottom-color: #E6E6E6;
    border-bottom-width: 1px;

    margin-left: 15px;
    margin-right: 15px;

    padding-left: 5px;
}

textarea.nuevo-comentario {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;

    width: 90%;
}

div.autor {
    //background-color: #EFEFFB;
    padding-left: 10px;
}
